<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
      <services>
        <service name="MainProjectWcfApp.ProductService" behaviorConfiguration="mexBehavior">
          <endpoint name="MainProjectWcfApp.ProductService" binding="basicHttpBinding" contract="MainProjectWcfApp.IProjectService&lt;TEntity&gt;"></endpoint>
          <endpoint name="MainProjectWcfApp.ProductService" binding="netTcpBinding" contract="MainProjectWcfApp.IProjectService&lt;TEntity&gt;"></endpoint>
          <endpoint name="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8080"/>
              <add baseAddress="net.tcp://localhost:45617"/>
            </baseAddresses>
          </host>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="mexBehavior">
            <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false". -->
            <serviceMetadata httpGetEnabled="true" />
            <!--Чтобы при сбое получать подробные сведения об исключении для отладки, задайте следующему параметру значение "true". Чтобы информация об исключении не выдавалась, задайте до развертывания значение "false". -->
            
          </behavior>
        </serviceBehaviors>
      </behaviors>
      
    </system.serviceModel>
  </configuration>
