@model IEnumerable<DbModels.DataContracts.ProductContract>
@{
    ViewBag.Title = "Products store";
}

<div class="row">
    <tr>
        <td>Название</td>
        <td>Фотография</td>
    </tr>
    @foreach (var b in Model)
    {
    <tr>
        <td><p>@b.Name @b.ProductID</p></td>
    <td>@*
        @Html.Raw("<img style='width:120px; height:80px;' src=\"data:image/jpeg;base64,"
                            + Convert.ToBase64String(c.ProductPhoto.LargePhoto) + "\" />")*@
        <img src="data:image/jpeg;base64, @System.Convert.ToBase64String(b.LargePhoto)" />
    </td>
    </tr>
    }
</div>